# Possible values are: aws, azure, gce
cloud_provider: azure

name: openshift
region: eastus
labels:
   host: openshift

admin_username: demo
admin_ssh_publickey: 

# The address where you're going to access OpenShift's Master
# Example: https://master.example.com:8443
openshift_master_url: master.example.com
# The address for applications, which it's going to be included into 
# Master's Configuration: /etc/origin/master/master-config.yml
openshift_cloudapps_url: cloudapps.example.com

# Red Hat Subscription to enable all the necessary packages for OpenShift
redhat_subscription_username:         # MANDATORY
redhat_subscription_password:         # MANDATORY

# If you omit this information, the playbook will find an poolid for you
# If wish to change the criteria, change the information on 
#     vim roles/redhat_subscription/defaults/main.yaml
redhat_subscription_pool_id:          # OPTIONAL

repositories:
    - rhel-7-server-rpms
    - rhel-7-server-extras-rpms
    - rhel-7-server-ose-3.9-rpms
    - rhel-7-fast-datapath-rpms
    - rhel-7-server-ansible-2.4-rpms
    - rhel-7-server-rhmap-4.5-rpms
    - rhel-7-server-3scale-amp-2.0-rpms

bastion_packages:
    - vim
    - wget
    - git
    - net-tools
    - bash-completion
    - httpd-tools
    - screen
    - deltarpm
    - ansible
    - atomic-openshift-utils
    - atomic-openshift-clients

# Necessary packages that must be installed in each host of the cluster
# https://docs.openshift.com/container-platform/3.9/install_config/install/host_preparation.html#installing-base-packages
ocp_hosts_packages:
    - vim
    - wget
    - git 
    - net-tools 
    - bind-utils 
    - iptables-services 
    - bridge-utils 
    - bash-completion 
    - kexec-tools 
    - sos 
    - psacct
    - deltarpm
    - docker 
    - atomic-openshift-excluder
    - atomic-openshift-docker-excluder

bastion_definition: { hostname: "openshift-bastion", machine: "Standard_DS1_v2" }
master_definition: 
   - { hostname: "openshift-master1", machine: "Standard_DS1_v2", disk_docker_size: 20 }
infra_definition: 
   - { hostname: "openshift-infra1", machine: "Standard_DS1_v2", disk_docker_size: 20 }
node_definition: 
   - { hostname: "openshift-node1", machine: "Standard_DS1_v2", disk_docker_size: 20 }
   - { hostname: "openshift-node2", machine: "Standard_DS1_v2", disk_docker_size: 20 }

#master_definition: { hostname: "openshift-master", machine: "n1-standard-4",  image: "rhel74-100g", disk_size: 100, disk_type: "pd-standard", tags: ["enable-ssh","openshift-master"],  disk_docker_size: 20, disk_docker_type: "pd-standard" }
#infra_definition:  { hostname: "openshift-infra" , machine: "n1-standard-4",  image: "rhel74-40g", disk_size: 40, disk_type: "pd-standard", tags: ["enable-ssh","openshift-infra-node"], disk_docker_size: 50, disk_docker_type: "pd-standard" }
#nodes_definition: 
#   - { hostname: "openshift-node1", machine: "n1-standard-4",  image: "rhel74-40g", disk_size: 40, disk_type: "pd-standard", tags: ["enable-ssh"], disk_docker_size: 50, disk_docker_type: "pd-standard" }
#   - { hostname: "openshift-node2", machine: "n1-standard-4",  image: "rhel74-40g", disk_size: 40, disk_type: "pd-standard", tags: ["enable-ssh"], disk_docker_size: 50, disk_docker_type: "pd-standard" }
