- name: "Check Parameter: gce_credentials_file"
  fail: msg="gce_credentials_file is not defined or is empty"
  when: gce_credentials_file is not defined or gce_credentials_file is none
  tags: [ gce, ocp, initial, parameter ]

- name: "Check Parameter: gce_project_id"
  fail: msg="gce_project_id is not defined or is empty"
  when: gce_project_id is not defined or gce_project_id is none
  tags: [ gce, ocp, initial, parameter ]
  
- name: "Check Parameter: gce_service_account_email"
  fail: msg="gce_service_account_email is not defined or is empty"
  when: gce_service_account_email is not defined or gce_service_account_email is none
  tags: [ gce, ocp, initial, parameter ]

- name: Creating bastion_definition
  set_fact: "bastion_definition={{ { 'hostname': '{{ bastion_name }}', 'machine': '{{ bastion_machine_type }}', 'disk_type': '{{ bastion_disk_type }}', 'disk_size': '{{ bastion_disk_size }}' } }}"
  tags: [ gce, ocp, initial, parameter ]

- name: Creating master_definition
  set_fact: master_definition='{{ master_definition + [ new_item ] }}'
  vars:
     new_item: "{ 'hostname' : '{{ master_prefix }}{{ item }}', 'machine' : '{{ master_machine_type }}', 'disk_type' : '{{ master_disk_type }}', 'disk_size' : {{ master_disk_size }}, 'disk_docker_type' : '{{ master_docker_type }}', 'disk_docker_size' : {{ master_docker_size }} }"
  with_sequence: start=1 end="{{ number_of_masters }}"
  tags: [ gce, ocp, initial, parameter ]

- name: Creating infra_definition
  set_fact: infra_definition='{{ infra_definition + [ new_item ] }}'
  vars:
     new_item: "{ 'hostname' : '{{ infra_prefix }}{{ item }}', 'machine' : '{{ infra_machine_type }}', 'disk_type' : '{{ infra_disk_type }}', 'disk_size' : {{ infra_disk_size }}, 'disk_docker_type' : '{{ infra_docker_type }}', 'disk_docker_size' : {{ infra_docker_size }} }"
  with_sequence: start=1 end="{{ number_of_infras }}"
  tags: [ gce, ocp, initial, parameter ]

- name: Creating node_definition
  set_fact: node_definition='{{ node_definition + [ new_item ] }}'
  vars:
     new_item: "{ 'hostname' : '{{ node_prefix }}{{ item }}', 'machine' : '{{ node_machine_type }}', 'disk_type' : '{{ node_disk_type }}', 'disk_size' : {{ node_disk_size }}, 'disk_docker_type' : '{{ node_docker_type }}', 'disk_docker_size' : {{ node_docker_size }} }"
  with_sequence: start=1 end="{{ number_of_nodes }}"
  tags: [ gce, ocp, initial, parameter ]
