- name: "Loading SSH KEY from localhost (if any)"
  set_fact: ssh_key="{{ lookup('file','{{ admin_ssh_publickey }}') }}"
  when: admin_ssh_publickey is defined and admin_ssh_publickey is not none
  tags: [ ocp, prepare_hosts ]

- name: "Copy a SSH Key (if does exist)"
  lineinfile: dest=/root/.ssh/authorized_keys state=present create=yes line="{{ ssh_key }}"
  when: ssh_key is defined
  tags: [ ocp, prepare_hosts ]

- name: "Allow this host to log as root"
  lineinfile: dest=/etc/ssh/sshd_config state=present regexp="^PermitRootLogin" line="# PermitRootLogin yes"
  tags: [ ocp, prepare_hosts ]

- name: "Restart SSHD Service"
  service: name=sshd state=restarted
  tags: [ ocp, prepare_hosts ]

# https://docs.openshift.com/container-platform/3.9/install_config/install/host_preparation.html#ensuring-host-access
- name: "Copying Bastion SSH Key into all hosts in the cluster"
  lineinfile: dest=/root/.ssh/authorized_keys state=present create=yes line="{{ hostvars[groups.openshift_bastion[0]]['bastion_ssh_key'] }}"
  tags: [ ocp, prepare_hosts, read_bastion_key ]

- name: "Installing Basic Applications"
  yum: name="{{ item }}" state=present
  with_items: "{{ ocp_hosts_packages }}"
  tags: [ ocp, prepare_hosts ]

# https://docs.openshift.com/container-platform/3.9/install_config/install/host_preparation.html#configuring-docker-thin-pool
- name: "Create a partition for Docker: {{ docker_device }}"
  command: parted {{ docker_device }} --script 'mklabel msdos mkpart primary 0% 100%'
  tags: [ ocp, prepare_hosts ]

- name: "Create a VG named docker-vg (used for Docker): {{ docker_device_partition }}"
  lvg: vg=docker-vg pvs={{ docker_device_partition }}
  tags: [ ocp, prepare_hosts ]

- name: "Removing a STORAGE_DRIVER from docker-storage-setup"
  lineinfile: path=/etc/sysconfig/docker-storage-setup regexp="STORAGE_DRIVER" state=absent
  ignore_errors: True
  tags: [ ocp, prepare_hosts ]

- name: "Configuring Docker-Storage-Setup first"
  lineinfile: dest=/etc/sysconfig/docker-storage-setup line="VG=docker-vg"
  tags: [ ocp, prepare_hosts ]

- name: "Run a Docker-Storage-Setup"
  command: /usr/bin/docker-storage-setup
  tags: [ ocp, prepare_hosts ]

- name: "Execute a Atomic OpenShift Excluder"
  command: atomic-openshift-excluder unexclude
  tags: [ ocp, prepare_hosts ]

# https://docs.openshift.com/container-platform/3.9/install_config/install/host_preparation.html#managing-docker-container-logs
- name: "Setting Docker configuration with with the correct info"
  lineinfile: dest=/etc/sysconfig/docker regexp="OPTIONS=.*" line="OPTIONS=\"--selinux-enabled --insecure-registry 172.30.0.0/16  --log-driver=journald\""
  tags: [ ocp, prepare_hosts ]

- name: "Ensure Certified Containers can be run"
  command: /usr/libexec/rhsmcertd-worker
  tags: [ ocp, prepare_hosts ]
