[Nodes:children]
master
core
mbaas

[Nodes:vars]
ansible_ssh_user=root
ansible_sudo=true

# Valid targets enterprise or dedicated
target="enterprise"

#Cluster hostanme
cluster_hostname={{ openshift_cloudapps_url }}

#Customer subdomain name
domain_name=rhmap

# Subsciption Manager Credentials. Must be set if running register role
#rh_username=myRedHatUserName
#rh_password=subscriptionManagerSecret

# OpenShift Credentials
oc_user=demo
oc_password=r3dh4t1!
kubeconfig="/etc/origin/master/admin.kubeconfig"

login_url=https://{{ openshift_master_url }}:8443
master_url=https://{{ openshift_master_url }}:8443

# URL to be checked to test outbound HTTP connection. Must be whitelisted if using a HTTP Proxy server
url_to_check="https://www.npmjs.com"

gluster_storage=false

#### Gluster config - Set if using Gluster FS for storage
#gluster_storage=true
#gluster_metadata_name=gluster
#gluster_endpoints=["10.10.0.55", "10.10.0.56"]

[Buildfarm:children]
master
macos

[Buildfarm:vars]
buildfarm_project_name="buildfarm"
jenkins_route_protocol="https"

buildfarm_csrf_enabled="false"
#The number of days to store each build for each job
buildfarm_builds_days=30
#The total number of builds to store
buidfarm_builds_total=""
#The number of days to store each artifact
buildfarm_artifacts_days=30
#The total number of artifacts to store per job
buildfarm_artifacts_total=""

macos_user="jenkins"

# Please add your Apple ID account details below. Required for XCode installation on Mac OS machines.
xcode_install_user=""
xcode_install_password=""

# In a multi-master configuration, only one master node is required
[master]

[mbaas]

[core]

# For allowing iOS builds on the Jenkins-based build farm. Leave blank if not needed,
[macos]
