[OSEv3:children]
masters
nodes
etcd

[masters]
{% for master in master_definition %}
{{ master.hostname }} openshift_public_hostname={{ openshift_master_url }}
{% endfor %}

[nodes]
{% for master in master_definition %}
{{ master.hostname }} openshift_node_group_name=node-config-master
{% endfor %}
{% for infra in infra_definition %}
{{ infra.hostname }} openshift_node_group_name=node-config-infra
{% endfor %}
{% for node in node_definition %}
{{ node.hostname }} openshift_node_group_name=node-config-compute
{% endfor %}

[etcd]
{% for master in master_definition %}
{{ master.hostname }}
{% endfor %}

[OSEv3:vars]
deployment_type=openshift-enterprise
openshift_examples_modify_imagestreams=true

# Disable some checks before installing
openshift_disable_check=disk_availability,docker_storage,memory_availability,docker_image_availability,package_version

# Configuring Cluster Logging
# https://docs.openshift.com/container-platform/3.7/install_config/install/advanced_install.html#advanced-install-cluster-logging
openshift_logging_install_logging=true

# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root

# Have all Template Broker to be install on Infra Node
template_service_broker_selector={"node-role.kubernetes.io/infra":"true"}

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]

#### # Defining htpasswd users
openshift_master_htpasswd_users={{ openshift_users }}

#### Router selector (optional)
#### # Router will only be created if nodes matching this label are present.
#### # Default value: 'region=infra'
openshift_hosted_router_selector='node-role.kubernetes.io/infra=true'
openshift_router_selector='node-role.kubernetes.io/infra=true'

#### default subdomain to use for exposed routes
openshift_master_default_subdomain={{ openshift_cloudapps_url }}

openshift_hosted_registry_selector='node-role.kubernetes.io/infra=true'
openshift_registry_selector='node-role.kubernetes.io/infra=true'

# Registry replicas (optional)
# Unless specified, openshift-ansible will calculate the replica count
# based on the number of nodes matching the openshift registry selector.
openshift_hosted_registry_replicas=1

# Disable management of the OpenShift Registry
#openshift_hosted_manage_registry=false

#### Metrics deployment
#### # See: https://docs.openshift.com/enterprise/latest/install_config/cluster_metrics.html
openshift_metrics_install_metrics=True
openshift_metrics_hawkular_hostname=hawkular-metrics.{{ openshift_cloudapps_url }}

# Fix a bug on OCP 3.9.30
oreg_url=registry.access.redhat.com/openshift3/ose-${component}:${version}
openshift_storage_glusterfs_heketi_image=registry.access.redhat.com/rhgs3/rhgs-volmanager-rhel7
openshift_storage_glusterfs_image=registry.access.redhat.com/rhgs3/rhgs-server-rhel7
openshift_storage_glusterfs_block_image=registry.access.redhat.com/rhgs3/rhgs-gluster-block-prov-rhel7
openshift_storage_glusterfs_s3_image=registry.access.redhat.com/rhgs3/rhgs-gluster-s3-server-rhel7
