#!/bin/bash
set -xe
ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/prerequisites.yml
ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/deploy_cluster.yml
{% if default_slack_token is defined and default_slack_token is not none %}
ansible localhost -m slack -a "token={{ default_slack_token }} msg='{{ message_when_ready }}'"
{% endif %}
