git clone https://github.com/latam-tech-office/openshift-utils
pushd openshift-utils/eclipseche/
ansible-playbook -i /root/postinstall/hosts_postinstall install-eclipse-che.yaml -e che_routing_suffix={{ openshift_cloudapps_url }} -e openshift_user=demo
popd
