[openshift_bastion]
{{ bastion_public_ip }} ansible_user={{ admin_username }}  ansible_password={{ gce_base_image_password }}

[openshift_master_group]
{% for master in master_definition %}
{{ master.public_ip }} ansible_user={{ admin_username }}  ansible_password={{ gce_base_image_password }}
{% endfor %}

[openshift_infra_group]
{% for infra in infra_definition %}
{{ infra.public_ip }} ansible_user={{ admin_username }}  ansible_password={{ gce_base_image_password }}
{% endfor %}

[openshift_node_group]
{% for node in node_definition %}
{{ node.public_ip }} ansible_user={{ admin_username }}  ansible_password={{ gce_base_image_password }}
{% endfor %}
