apiVersion: v1
kind: List
items:
{% for item in persistent_volumes %}
- apiVersion: v1
  kind: PersistentVolume
  metadata:
    name: local{{ item.pv_index  }}-{{ item.pv_size }}g-{{ item.type }}
  spec:
    capacity:
      storage: {{ item.pv_size }}Gi
    accessModes:
      - ReadWriteMany
      - ReadWriteOnce
    nfs:
      server: {{ nfs_server }}
      path: {{ nfs_path_prefix }}{{ item.pv_index  }}-{{ item.pv_size }}g-{{ item.type }}
    persistentVolumeReclaimPolicy: Recycle
{% endfor %}
